[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = butchkrohn
	email = 92664013+butchkrohn@users.noreply.github.com
